<html>
    <head>
        <title>Work it</title>
    </head>
    <body>
        <div>
            <h1><a href="/">boom bang oohh</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>ANU GINAGAWA MOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>OOOHHHHHHHH FANCY<p>
        </div>
    </body>
</html>